<template>
  <div class="message__container">
    <h1>Pirate Advisor!</h1>
    <p class="message__text">
      Hey Frank, we have compiled a list of some popular events, restaurants, bars and clubs near your hotel during your visit to Berlin; check them out!
    </p>
  </div>
</template>

<script>
export default {
	name: "Message",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1 {
	margin: 0;
}
.message__container {
	padding: 0.8em;
}
.message__text {
	margin: 0;
	font-family: "Open Sans" !important;
	font-size: 0.8em;
}
</style>
