<template>
    <div class="results-wrapper">
        <div class="results__row">
            <div v-if="!results.length" class="results__loading-text">Loading...</div>
            <div
                v-else
                v-for="(result, index) in truncatedResults"
                :key="index"
            >
                <Result
                    :category="result.category"
                    :date="result.date"
                    :image="result.image"
                    :name="result.name"
                    :price="result.price"
                    :rating="result.rating"
                    :reviewCount="result.review_count"
                    :url="result.url"
                />
            </div>
        </div>
    </div>
</template>

<script>
import Result from "./Result.vue";

export default {
	name: "Results",
	components: {
		Result,
	},
	props: {
		results: { type: Array, required: true },
		viewAll: { type: Boolean, required: true },
	},
	computed: {
		truncatedResults() {
			return this.viewAll ? this.results : this.results.slice(0, 5);
		},
	},
};
</script>

<style lang="scss" scoped>
.results-wrapper {
	padding: 0 0.75em;
}
.results__loading-text {
	width: 100%;
	margin: 1em;
	text-align: center;
}
.results__row {
	display: flex;
	overflow-x: scroll;
	overflow-y: auto;
}
.results-row::-webkit-scrollbar-track {
	height: 5px;
	background-color: #f0f0f0;
}
.results__row::-webkit-scrollbar {
	position: relative;
	left: 0.75em;
	height: 2px;
	background-color: #f0f0f0;
	width: 80%;
}
.results__row::-webkit-scrollbar-thumb {
	background-color: #865c7e;
}
</style>
