<template>
    <div>
        <div class="card__header-row">
            <div class="card__header-column--icon">
				<slot />
            </div>
            <div class="card__header-column--title">
				<h3 v-text="title" />
			</div>
            <div class="card__header-column--viewall" >
				<h4 v-text="'View all'" @click="$emit('viewAll')"/>
			</div>
        </div>
    </div>
</template>

<script>
export default {
	name: "ResultTitle",
	props: {
		title: String,
		required: true,
	},
};
</script>

<style lang="scss">
h3,
h4 {
	margin: 0;
}
.card__header-row {
	display: flex;
	margin: 1.25em 0 0;
	padding-left: 0.75em;
}
.card__header-column--icon {
	flex: 2;
	min-width: 1em;
}
.card__header-column--title {
	flex: 15;
}
.card__header-column--viewall {
	flex: 6;
	text-align: center;
	color: #38a3c8;
	text-align: right;
	padding: 0 0.75em 0 0;
}
</style>
