@font-face {
	font-family: "bariolregular";
	src: url("./assets/bariol_regular-webfont.eot");
	src: url("./assets/bariol_regular-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/bariol_regular-webfont.woff2") format("woff2"),
		url("./assets/bariol_regular-webfont.woff") format("woff"),
		url("./assets/bariol_regular-webfont.ttf") format("truetype"),
		url("./assets/bariol_regular-webfont.svg#bariolregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
