<template>
  <div id="app">
    <Message msg="Welcome to Your Vue.js App"/>
    <ResultTitle
        title="Popular Events"
        @viewAll="viewAllEvents = true"
    >
      <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g id="Monochromatic/Outlined/monochromatic-outlined-deluxe" transform="translate(1.000000, 1.000000)" stroke="#333333">
                  <g id="monochromatic-outlined-deluxe">
                      <polygon id="Stroke-1" stroke-width="1.13207547" points="16.8521887 0.188679245 20.3940755 6.06981132 10.3453962 19.7116981 0.188792453 6.06981132 3.73067925 0.188679245"></polygon>
                      <path d="M0.188679245,6.06969811 L19.9154717,6.06969811" id="Stroke-3" stroke-width="1.13207547"></path>
                      <path d="M3.73060377,0.188679245 L10.3430566,19.7116981" id="Stroke-5" stroke-width="1.13207547"></path>
                      <path d="M16.8521887,0.188679245 L10.3431321,19.7116981" id="Stroke-7" stroke-width="1.13207547"></path>
                      <path d="M5.49762264,6.06950943 L10.0723396,0.269132075" id="Stroke-9" stroke-width="1.13207547"></path>
                      <path d="M14.7985283,5.67471698 L10.0721132,0.269056604" id="Stroke-11" stroke-width="1.13207547"></path>
                  </g>
              </g>
          </g>
      </svg>
    </ResultTitle>
    <Results
        :results="eventData"
        :viewAll="viewAllEvents"
    />
    <ResultTitle title="Popular Restaurants" @viewAll="viewAllRestaurants = true">
      <svg width="14px" height="22px" viewBox="0 0 14 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g id="Monochromatic/Outlined/monochromatic-outlined-cullinary-delights" transform="translate(1.000000, 1.000000)" stroke="#333333">
                  <g id="monochromatic-outlined-cullinary-delights">
                      <path d="M12.0783175,1.89304762 L12.0783175,18.6492381 C12.0783175,20.1470159 9.67006349,20.1247937 9.67006349,18.6492381 L9.67006349,12.3133651 C9.67006349,12.1406667 9.50879365,12.0006667 9.31006349,12.0006667 L8.25831746,12.0006667 C8.0532381,12.0006667 7.88974603,11.8524127 7.89863492,11.6746349 L9.00149206,1.89304762 C9.45260317,-0.254571429 12.0783175,-0.377746032 12.0783175,1.89304762 L12.0783175,1.89304762 Z" id="Stroke-1" stroke-width="0.952380952"></path>
                      <path d="M4.46352381,8.18206349 L4.46352381,18.6925397 C4.46352381,20.2242857 2.05971429,20.2242857 2.05971429,18.6925397 L2.05971429,8.18555556 C2.05971429,8.03285714 0.158761905,8.0915873 0.158761905,5.85 L0.158761905,0.551269841 C0.158761905,0.0344444444 1.34701587,0.0144444444 1.34701587,0.571269841 L1.34701587,4.64809524 C1.34701587,4.82047619 2.69304762,4.83666667 2.69304762,4.66396825 L2.69304762,0.552857143 C2.69304762,0.0566666667 3.82511111,0.0366666667 3.82511111,0.572857143 L3.82511111,4.66396825 C3.82511111,4.83666667 5.15368254,4.82047619 5.15368254,4.64809524 L5.15368254,0.536666667 C5.15368254,0.0458730159 6.32130159,0.0258730159 6.32130159,0.556666667 C6.32130159,0.556666667 6.32098413,4.43539683 6.32098413,5.94111111 C6.32098413,8.19793651 4.46352381,8.03222222 4.46352381,8.18206349 Z" id="Stroke-3" stroke-width="0.952380952"></path>
                  </g>
              </g>
          </g>
      </svg>
    </ResultTitle>
    <Results
        :results="restaurantData"
        :viewAll="viewAllRestaurants"
    />
    <ResultTitle title="Bars &amp; Clubs" @viewAll="viewAllBars = true">
      <svg width="26px" height="22px" viewBox="0 0 26 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g id="Monochromatic/Outlined/monochromatic-outlined-clubs" transform="translate(1.000000, 1.000000)" stroke="#333333">
                  <g id="monochromatic-outlined-clubs">
                      <path d="M20.0676226,11.5213585 C20.0676226,16.0341887 16.4091321,19.6926792 11.8963019,19.6926792 C7.38384906,19.6926792 3.72535849,16.0341887 3.72535849,11.5213585 C3.72535849,7.0085283 7.38384906,3.35003774 11.8963019,3.35003774 C16.4091321,3.35003774 20.0676226,7.0085283 20.0676226,11.5213585 L20.0676226,11.5213585 Z" id="Stroke-1" stroke-width="1.13207547"></path>
                      <path d="M5.50460377,6.64943396 L18.2495094,6.64943396" id="Stroke-3" stroke-width="1.13207547"></path>
                      <path d="M3.72532075,11.1856981 L11.8966415,11.1856981" id="Stroke-5" stroke-width="1.13207547"></path>
                      <path d="M0.188679245,11.1856981 L1.98528302,11.1856981" id="Stroke-7" stroke-width="1.13207547"></path>
                      <path d="M5.52396226,16.2927547 L18.2688679,16.2927547" id="Stroke-9" stroke-width="1.13207547"></path>
                      <path d="M11.9202642,3.35022642 L11.872717,19.6924906" id="Stroke-11" stroke-width="1.13207547"></path>
                      <path d="M12.351434,3.41981132 C14.4903019,5.46509434 15.8223774,8.34698113 15.8223774,11.5401887 C15.8223774,14.7330189 14.4903019,17.6149057 12.3518113,19.6601887" id="Stroke-13" stroke-width="1.13207547"></path>
                      <path d="M11.4415094,3.38260377 C9.30264151,5.42788679 7.97056604,8.30977358 7.97056604,11.5029811 C7.97056604,14.6958113 9.30264151,17.5776981 11.4411321,19.6229811" id="Stroke-15" stroke-width="1.13207547"></path>
                      <polyline id="Stroke-17" stroke-width="1.13207547" points="9.86007547 3.59064151 9.86007547 1.98686792 14.0868679 1.98686792 14.0868679 3.59064151"></polyline>
                      <path d="M11.8778868,0.188679245 L11.8726038,1.98415094" id="Stroke-19" stroke-width="1.13207547"></path>
                      <path d="M20.0482642,11.1856981 L11.8769434,11.1856981" id="Stroke-21" stroke-width="1.13207547"></path>
                      <path d="M23.5849057,11.1856981 L21.7883019,11.1856981" id="Stroke-23" stroke-width="1.13207547"></path>
                      <path d="M3.61498113,2.91388679 L4.88554717,4.18445283" id="Stroke-25" stroke-width="1.13207547"></path>
                      <path d="M20.1586038,19.4575094 L18.8880377,18.1869434" id="Stroke-27" stroke-width="1.13207547"></path>
                      <path d="M3.61498113,19.4575094 L4.88554717,18.1869434" id="Stroke-29" stroke-width="1.13207547"></path>
                      <path d="M20.1586038,2.91388679 L18.8880377,4.18445283" id="Stroke-31" stroke-width="1.13207547"></path>
                  </g>
              </g>
          </g>
      </svg>
    </ResultTitle>
    <Results
        :results="barData"
        :viewAll="viewAllBars"
    />
  </div>
</template>

<script>
import axios from "axios";

import MockResponse from "./mockData/response.json";
import MockRequest from "./mockData/request.json";
import ResultTitle from "./components/ResultTitle.vue";
import Message from "./components/Message.vue";
import Results from "./components/Results.vue";

export default {
	name: "app",
	components: {
		ResultTitle,
		Message,
		Results,
	},
	data() {
		return {
			barData: MockResponse.bars,
			restaurantData: MockResponse.restaurants,
			eventData: MockResponse.events,
			viewAllBars: false,
			viewAllRestaurants: false,
			viewAllEvents: false,
		};
	},
	mounted() {
		axios
			.post("http://10.10.10.42:8080/v1/search", MockRequest)
			.then(({ data }) => {
				this.barData = data.bars;
				this.restaurantData = data.restaurants;
				this.eventData = data.events;
			})
			.catch(error => {
				console.error("Something went wrong!", error);
			});
	},
};
</script>

<style lang="scss">
@import "./assets/styles.scss";
#app {
	font-family: "Bariol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333333;
}
</style>
